@use "variables" as v;

.text-center {
  text-align: center;
}
.bg {
  min-height: 100vh;
  background-color: v.$background;
  &_navbar {
    background-color: v.$bgSidebar;
  }
}
.text {
  color: v.$white;
  &_info {
    color: v.$gray;
  }
}
