// Fuentes
$font: "Outfit", sans-serif;

// Media Queries
$tabletSmall: 480px;
$tabletMed: 768px;
$desktopMed: 1024px;
$desktopBig: 1440px;

// Colores
$background: hsl(225, 29%, 5%);
$bgSidebar: hsl(223, 36%, 14%);
$buttonRed: hsl(0, 97%, 63%);
$buttonDisabled: hsl(223, 23%, 46%);
$white: hsl(0, 0%, 100%);
$gray: hsl(225, 3%, 77%);

// Unidades
$separacion: 5rem;
