// Fuentes
$fuentePrincipal: "Nunito", sans-serif;

// Media Queries
$tabletMed: 480px;
$tablet: 768px;
$desktopBig: 1440px;
$desktopMed: 1024px;
// Colores
$darkblueDM: hsl(209, 23%, 22%);
$backgroundDM: hsl(207, 26%, 17%);
$verydarkblueLM: hsl(200, 15%, 8%);
$darkgreyLM: hsl(0, 0%, 52%);
$backgroundLM: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

// Unidades
$separacion: 5rem;
